CVXcanon==0.1.1 
atomicwrites==1.4.0 
attrs==19.3.0 
backports.functools-lru-cache==1.6.1 
coloredlogs==14.0 
configparser==4.0.2 
contextlib2==0.6.0.post1 
coverage==5.1
cryptography==2.1.4
cvxpy==0.4.11 
cycler==0.10.0 
cython==0.29.19 
dill==0.3.1.1 
ecos==2.0.7.post1 
enum34==1.1.10 
fastcache==1.1.0 
funcsigs==1.0.2 
humanfriendly==8.2 
importlib-metadata==1.6.0 
kiwisolver==1.1.0
launchpadlib==1.10.6
matplotlib==2.2.5 
monotonic==1.5 
more-itertools==5.0.0 
multiprocess==0.70.9 
numpy==1.16.6 
packaging==20.4 
pathlib2==2.3.5 
pluggy==0.13.1 
py==1.8.1
pyopenssl==17.5.0
pyparsing==2.4.7 
pytest==4.6.10 
pytest-cov==2.9.0 
python-dateutil==2.8.1 
pytz==2020.1 
scandir==1.10.0 
scipy==1.2.3 
scs==2.1.2 
setuptools==44.1.1 
six==1.15.0 
subprocess32==3.5.4 
toolz==0.10.0 
wcwidth==0.2.0 
zipp==1.2.0
